{% extends "main.html" %}
{% block content %}

	<div class = 'flash'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
	</div>
	
	<div class="row padding-top padding-bottom"></div>

	<div class="row grid-divider">
		<div class="col-sm-3">
			<div class="col-padding">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="list-group">
							<div class="panel-heading catheading"><h4>Categories</h4></div>
							{% for category in categories %}
								<div class="list-group-item"><a href="{{url_for('showCategoryItems', name=category.name)}}">{{category.name}}</a></div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="col-sm-8 ">
			{% if displayRecent %}
				<div class="panel-heading "><h4>Items Recently Added</h4></div>
			{%else%}
				<div class="panel-heading"><h4 class="pull-left">Category: {{itemtitle}}</h4>
					<div class="pull-right">
						{%if 'username' in session %}
							{%if category.user_id == session['user_id'] %}
								<div class="pull-left">
									<a href="#DelCatModal" data-toggle="modal" data-target="#DelCatModal">Del</a> | <a href="{{url_for('editCategory', category_name=category.name)}}">Edit</a>
								</div>
							{% else %}
								<div class="pull-left">
									<a href="#notAllowedModal" data-toggle="modal" data-target="#notAllowedModal">Del</a> | <a href="#notAllowedModal" data-toggle="modal" data-target="#notAllowedModal">Edit</a>
								</div>
							{% endif %}
						{% endif %}
						<div class="col-sm-1"></div>
						<div class="pull-right">
							<a href="{{url_for('showCategoryItems', name=prevCat)}}">Prev</a> | <a href="{{url_for('showCategoryItems', name=nextCat)}}">Next</a>
						</div>
					</div>
				</div>
			{% endif %}	
			<table class="table table-hover">
				<tbody>
					{% if displayRecent %}
						{% for item in items %}
							<tr>
								<td class="col-sm-8 col-md-6">
										<div class="media-left">
											<img class="media-object" src="{{ url_for('send_image', filename=item[0].image) }}" style="width: 72px; height: 72px;">
										</div>
										<div class="media-body">
											<h4 class="media-heading"><a href= "{{url_for('showItem', category_name=item[1], item_name=item[0].name)}}">{{item[0].name}}</a></h4>
											<h5><span>Item ID#: </span>{{'{:0>5d}'.format(item[0].id)}}</h5>
											<h5><span>Category: </span>{{item[1]}}</h5>
											<h5><span>Description: </span>{{item[0].desc}}</h5>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					{%else%}
						{% for item in items %}
							<tr>
								<td class="col-sm-8 col-md-6">
									<div class="media-left">
										<img class="media-object" src="{{ url_for('send_image', filename=item.image) }}" style="width: 72px; height: 72px;">
									</div>
									<div class="media-body">													
										<h4 class="media-heading"><a href= "{{url_for('showItem', category_name=category.name, item_name=item.name)}}">{{item.name}}</a></h4>
										<h5><span>Item ID#: </span>{{'{:0>5d}'.format(item.id)}}</h5>
										<h5><span>Category: </span>{{category.name}}</h5>
										<h5><span>Description: </span>{{item.desc}}</h5>						
									</div>
								</td>
							</tr>
						{% endfor %}
					{% endif %}									 
				</tbody>
			</table>
		</div>
	</div>
	{% if not displayRecent %}	
	<div class="modal fade" id="DelCatModal" role="dialog">
			<div class="modal-dialog modal-lg">
				{% if items %}
				<div class="modal-content">
						<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title">Delete not allowed</h4>
						</div>
						<form>
							<div class="modal-body">
								<p><Strong>Category can not be deleted! Items still exist with this category!</Strong></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
							</div>
						</form>
				</div>
				{% else %}
				<div class="modal-content">
					<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title">Delete "{{category.name}}" ?</h4>
					</div>
					<form action="{{url_for('deleteCategory', category_name=category.name)}}" method="post">
						<div class="modal-body">
							<p><Strong>Are you sure you want to delete the "{{category.name}}" category?</Strong></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</form>
				</div>	
				{% endif %}
			</div>
	</div>
	<div class="modal fade" id="notAllowedModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
			  		<button type="button" class="close" data-dismiss="modal">&times;</button>
			  		<h4 class="modal-title">Action not allowed!</h4>
				</div>
				<form action="" method="post">
					<div class="modal-body">
						<p><Strong>You are not authorized to change this category. Only the user that created this category is allow to change or delete it.</Strong></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					</div>
				</form>
			 </div>	
		</div>
	</div>
	{% endif %}
{% endblock %}
