	<div class="container-fluid">
			<div class="row banner main">
				<h1>Sports Catalog</h1>
			</div>	
			{%if 'username' in session %}
			<div class="creator">
				<img src="{{session['picture']}}" style = "width: 30px; height: 30px;border-radius: 25px;-webkit-border-radius: 25px;-moz-border-radius: 25px;">
				<span>{{session['username']}} logged in</span>
			</div>
			{% endif %}
	</div>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid"> 
			<div class="container"> 
			<div class="navbar-header">
				<a class="navbar-brand" href="{{url_for('showCategories')}}"><span class="glyphicon glyphicon-home"></span>Sports Catalog</a>
				{%if 'username' in session %}
					<a class="navbar-brand" href="{{url_for('newItem')}}"><span class="glyphicon glyphicon-plus"></span>Add Item</a>
					<a class="navbar-brand" href="{{url_for('newCategory')}}"><span class="glyphicon glyphicon-plus"></span>Add Category</a>
				{% endif %}
			</div>
			<ul class="nav navbar-nav navbar-right">
				{%if 'username' not in session %}
					<li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% else %}
					<li><a href="{{url_for('disconnect')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				{% endif %}
			</ul>
		</div>
		</div>
	</nav>
	<div class="container-fluid"> 
		<!-- <div class="row divider lightblue"> -->
		<div class="row divider">
			<div class="col-md-12"></div>
		</div>
	</div>	