{% extends "main.html" %}
{% block content %}

<div class="container">
  <div class="row grid-divider">
    <div class="col-sm-12 backshade">
      <div class="col-padding">
        <h3>Add New Category</h3>
        <form  action="" method="post" role="form">
          {{ form.csrf }} 
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ form['name'] }}"> 
          </div>
          <button type="submit" class="btn btn-primary" id="submit" type="submit" name="save" value="save">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
          <button class="btn btn-primary delete" name="cancel" value="cancel">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
        </form>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}        
      </div>
    </div>
  </div>
</div>

{% endblock %}